<h2>Gym Details:</h2>

<div class="gym_info">
  <h3>Name:</h3>
  <p><%= @gym.name %></p>
  <h3>Location:</h3>
  <p><%= @gym.location %></p>

  <h3>Description:</h3>
  <p><%= @gym.description %> </p>

  <h3>Price Range</h3>
  <p><%= @gym.price_range %></p>

  <h3>Reviews</h3>
  <p><%= link_to 'Click here to see all reviews for this gym', gym_reviews_path(@gym) %></p>

</div>



<% if user_signed_in? %>

    <%= link_to 'Review this gym', new_gym_review_path(@gym), :class => "button success" %>
    <%= link_to "Update This Gym", edit_gym_path(@gym), :class => "button success" %>

  <%= button_to "Delete This Gym", @gym, :method => :delete, :class => "button alert" %>
<% end %>


<!-- add in name to reviews each loop afterwards -->
